<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.telerik.leanplum" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>Leanplum</name>
	<js-module name="Leanplum" src="www/Leanplum.js">
		<clobbers target="Leanplum" />
	</js-module>

	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="Leanplum">
				<param name="ios-package" value="CDVLeanPlum" />
			</feature>
		</config-file>

		<framework src="Security.framework"/>
    	<framework src="CFNetwork.framework"/>
    	<framework src="SystemConfiguration.framework"/>
    	<framework src="AdSupport.framework"/>

		<source-file framework="true" src="lib/ios/LeanPlum.framework/libLeanPlum.a"/>
		<header-file src="lib/ios/LeanPlum.framework/Headers/LeanPlum.h"/>

		<header-file src="src/ios/CDVLeanPlum.h" />
		<source-file src="src/ios/CDVLeanPlum.m" />

		<header-file src="src/ios/AppDelegate+notification.h" />
		<source-file src="src/ios/AppDelegate+notification.m" />

		<config-file target="*-Info.plist" parent="APP_ID">
            <!-- replace with your own key -->
            <string>E5VaRDg7RmchoyiGzUIzK3nZiydZaDvkfqWbEK5O3UQ</string>
        </config-file>

        <config-file target="*-Info.plist" parent="DEVELOPMENT_KEY">
            <!-- replace with your own key -->
            <string>e1WB24B7VaUSuzrkdhRdB1SjpadbDQJNkyGmXrkx5C0</string>
        </config-file>

        <config-file target="*-Info.plist" parent="PRODUCTION_KEY">
            <!-- replace with your own key -->
            <string>GmmlSDBouVSDpvmNk28WhPV0toTs0nak9xOtt3CVTDM</string>
        </config-file>

	</platform>

</plugin>